.carouselContainer {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.7s ease-in-out;
}

.slide {
    width: 100%;
    flex-shrink: 0;
    position: relative;
}

.image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(31, 41, 55, 0.5); /* gray-800 with 50% opacity */
    color: white;
    padding: 0.5rem;
    border-radius: 9999px; /* fully rounded */
    width: 2.5rem; /* 10 */
    height: 2.5rem;
    text-align: center;
    border: none;
    cursor: pointer;
}

.prev {
    left: 1rem; /* 4 */
}

.next {
    right: 1rem; /* 4 */
}

.indicators {
    position: absolute;
    bottom: 1rem; /* 4 */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 0.5rem; /* spacing between indicators */
}

.indicator {
    width: 0.75rem; /* 3 */
    height: 0.75rem;
    border-radius: 9999px;
    background-color: white;
    opacity: 0.5;
    border: none;
    padding: 0;
    cursor: pointer;
}

.active {
    opacity: 1;
}
