.DS_Store
.history
*.log
!.gitkeep

# mysql
docker/mysql/data
!docker/mysql/data/.gitkeep
docker/mysql/logs
!docker/mysql/logs/.gitkeep

docker/apache/logs
!docker/apache/logs/.gitkeep
docker/php/logs
!docker/php/logs/.gitkeep

# s3
docker/s3/data
