@use "@/assets/styles/variable" as *;

.flashMessage {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: $green;
    color: $white;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 1000;
    animation: fadeIn 0.3s ease-out;
}

.error {
    background-color: $red;
}

.fadeOut {
    animation: fadeOut 0.5s ease-in forwards;
}

.hidden {
    display: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
