@charset "UTF-8";

@import "https://fonts.googleapis.com/css?family=Nunito";

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, a {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent
}

body {
    font-size: 16px;
    font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, sans-serif;
    color: #333;
    word-wrap: break-word;
    overflow-wrap: break-word;
    background: #eaeded
}

nav ul, nav ol {
    list-style: none
}

.btn {
    padding: 0.5rem 0.75rem;
    background-color: white;
    border-radius: 0.25rem;
    transition: background-color 0.2s;
    display: inline-flex;
    align-items: center;
    border: 1px solid #dee2e6;
}
.btn.active {
    background: #007bff;
    color: white;
}
.btn:hover {
    opacity: 0.7;
}

.header {
    background-color: #fff
}

@media only screen and (max-width: 767px) {
    .header_logo {
        width: 150px
    }
}

.footer {
    background-color: #dcdcdc;
    padding: 60px 0
}

.footer_inner {
    text-align: center;
    width: 100%;
    max-width: 1240px;
    margin: 0 auto
}

.footer_copy {
    color: #fff;
    font-size: 1.2rem
}

@media only screen and (max-width: 767px) {
    .footer {
        padding: 40px 0
    }
    .footer_inner {
        width: calc(100% - 30px)
    }
    .footer_copy {
        font-size: 1rem
    }
}


.content {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px 0 50px;
}

@media only screen and (min-width: 767px) {
    .content {
        padding: 30px 0 100px;
    }
}

.mycart-title {
    font-size: 1.8rem;
    color: #333;
    text-align: center;
    font-weight: 700
}

.block01, .block01-02 {
    display: flex;
    flex-wrap: wrap
}

.block01-02 {
    justify-content: center
}

.block01_item {
    width: calc((100% - 50px) / 3);
    margin-right: 25px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.block01_item:nth-of-type(3n) {
    margin-right: 0
}

@media only screen and (max-width: 1024px) {
    .block01_item:nth-of-type(3n) {
        margin-right: 25px
    }
}

.block01_item:nth-of-type(n+4) {
    margin-top: 25px
}

@media only screen and (max-width: 1024px) {
    .block01_item {
        width: calc((100% - 25px) / 2)
    }

    .block01_item:nth-of-type(n+3) {
        margin-top: 25px
    }

    .block01_item:nth-of-type(2n) {
        margin-right: 0
    }
}

@media only screen and (max-width: 767px) {
    .block01_item {
        width: 100%;
        margin: 0
    }

    .block01_item:nth-of-type(n+2) {
        margin-top: 20px
    }

    .block01_item:nth-of-type(3n) {
        margin-right: 0
    }
}

.block01_img {
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px
}

.block02 {
    padding: 20px;
    background-color: #fff;
    text-align: center;
    margin-top: 40px
}

.btn-01, .btn-gray, .btn-02, button.stripe-button-el {
    background-color: #bf0000;
    color: #fff;
    border-radius: 10px;
    padding: 3px 12px;
    margin: auto auto 0;
    display: block
}

.btn-01:hover, .btn-gray:hover, .btn-02:hover, button.stripe-button-el:hover {
    opacity: .8
}

.btn-02, button.stripe-button-el {
    width: 200px;
    padding: 10px 20px;
    margin-top: 40px
}

@media only screen and (max-width: 767px) {
    .btn-02, button.stripe-button-el {
        width: 100%
    }
}

.btn-gray {
    background-color: #6c757d
}
