version: '3'

services:

  apache:
    image: laraec/apache
    container_name: laraec-apache
    build:
      context: "./apache"
      dockerfile: "Dockerfile"
    ports:
     - "80:80"
     - "443:443"
    restart: always
    volumes:
     - ./apache/conf.d:/etc/apache2/conf.d
     - ./apache/ssl:/etc/apache2/ssl
     - ./apache/logs:/var/log/apache2
     - ../htdocs:/var/www/html

  php:
    image: laraec/php
    container_name: laraec-php
    build:
      context: "./php"
      dockerfile: "Dockerfile"
    restart: always
    volumes:
     - ./php/logs:/var/log/php
     - ./php/php.ini:/usr/local/etc/php/php.ini
     - ../htdocs:/var/www/html
    extra_hosts:
     - "host.docker.internal:${DOCKER_HOST_IP}"

  # node:
  #   image: laraec/node
  #   container_name: laraec-node
  #   build:
  #     context: "./node"
  #     dockerfile: "Dockerfile"
  #   volumes:
  #    - ../frontend:/usr/src/app
  #   ports:
  #    - "3000:3000"
  #   command: sh -c "yarn run dev"

  mysql:
    image: laraec/mysql
    container_name: laraec-mysql
    build:
      context: "./mysql"
      dockerfile: "Dockerfile"
    environment:
      MYSQL_DATABASE: laraec
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      MYSQL_ROOT_PASSWORD: password
      TZ: Asia/Tokyo
    ports:
     - "3306:3306"
    restart: always
    volumes:
      - db-store:/var/lib/mysql
      - ./mysql/logs:/var/log/mysql
      - ./mysql/my.cnf:/etc/mysql/conf.d/my.cnf

  phpmyadmin:
    image: laraec/phpmyadmin
    container_name: laraec-phpmyadmin
    build:
      context: "./phpmyadmin"
      dockerfile: "Dockerfile"
    ports:
      - 8888:80
    environment:
      - PMA_ARBITRARY=1
      - PMA_HOST=mysql
      - PMA_USER=root
      - PMA_PASSWORD=password
    volumes:
      - "./phpmyadmin/sessions:/sessions"

  mailhog:
    image: mailhog/mailhog:latest
    container_name: laraec-mailhog
    ports:
      - 8025:8025
      - 25:1025

  s3:
    image: minio/minio:RELEASE.2021-04-18T19-26-29Z
    container_name: laraec-s3
    ports:
      - "9090:9000"
    environment:
      MINIO_ACCESS_KEY: "access_key"
      MINIO_SECRET_KEY: "secret_key"
    command: ["--compat", "server", "/data"]
    volumes:
      - ./s3/data:/data

  awscli:
    container_name: "laraec-awscli"
    build:
      context: "./awscli"
      dockerfile: "Dockerfile"
    tty: true
    environment:
      AWS_DEFAULT_REGION: ap-northeast-1
      AWS_DEFAULT_OUTPUT: json
      AWS_ACCESS_KEY_ID: access_key
      AWS_SECRET_ACCESS_KEY: secret_key
    volumes:
      - ../:/aws
    working_dir: /aws

volumes:
  db-store:
