services:

  laraec-app:
    image: laraec/app
    container_name: laraec-app
    build:
      context: ./app
      dockerfile: Dockerfile
    ports:
      - '80:80'
      - '5173:5173'
      - '6006:6006'
    restart: always
    volumes:
      - ./app/logs/apache:/var/log/apache2
      - ./app/logs/php:/var/log/php
      - ..:/var/www/html
    environment:
      - TZ=Asia/Tokyo

  laraec-mysql:
    image: laraec/mysql
    container_name: laraec-mysql
    build:
      context: ./mysql
      dockerfile: Dockerfile
    ports:
      - '3306:3306'
    environment:
      MYSQL_DATABASE: laraec
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      MYSQL_ROOT_PASSWORD: password
      TZ: Asia/Tokyo
    restart: always
    volumes:
      - laraec-db-store:/var/lib/mysql
      - ./mysql/logs:/var/log/mysql
      - ./mysql/conf:/etc/mysql/conf.d
      - ./mysql/initdb.d:/docker-entrypoint-initdb.d

  laraec-adminer:
    image: adminer
    container_name: laraec-adminer
    restart: always
    ports:
      - '8888:8080'
    environment:
      - ADMINER_DEFAULT_SERVER=mysql

  laraec-mailpit:
    image: axllent/mailpit
    container_name: laraec-mailpit
    ports:
      - '8025:8025'
      - '25:1025'

  laraec-s3:
    image: minio/minio:RELEASE.2021-10-10T16-53-30Z
    container_name: laraec-s3
    ports:
      - '9001:9001'
    environment:
      MINIO_ACCESS_KEY: admin
      MINIO_SECRET_KEY: password
    command: [ "--compat", "server", "/data", "--console-address", ":9001" ]
    volumes:
      - laraec-s3-store:/data

#  laraec-aws:
#    image: laraec/aws
#    container_name: laraec-aws
#    build:
#      context: ./aws
#      dockerfile: Dockerfile
#    tty: true
#    environment:
#      AWS_DEFAULT_REGION: ap-northeast-1
#      AWS_DEFAULT_OUTPUT: json
#      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
#      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
#    volumes:
#      - ..:/aws
#    working_dir: /aws

volumes:
  laraec-db-store:
  laraec-s3-store:

networks:
  default:
    external: true
    name: docker_default
