# MySQLサーバーへの設定
[mysqld]
# 文字コード/照合順序の設定 (utf8mb4を推奨)
character-set-server = utf8mb4
collation-server = utf8mb4_bin

# タイムゾーンの設定
default-time-zone = SYSTEM
log_timestamps = SYSTEM

# 【重要】default-authentication-plugin は削除し、
# 認証プラグイン自体を有効化する設定に変更
mysql-native-password = ON

# エラーログの設定
log-error = /var/log/mysql/mysql-error.log

# スロークエリログの設定
slow_query_log = 1
slow_query_log_file = /var/log/mysql/mysql-slow.log
long_query_time = 1.0
log_queries_not_using_indexes = 0

# 実行ログの設定
general_log = 1
general_log_file = /var/log/mysql/mysql-query.log

# メモリー消費量を抑える
innodb-buffer-pool-size=64M
performance-schema=OFF
max-connections=20

# mysqlオプションの設定
[mysql]
default-character-set = utf8mb4

# mysqlクライアントツールの設定
[client]
default-character-set = utf8mb4
