@use "@/assets/styles/variable" as *;

.formControl {
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    &:focus {
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    }
}

.error {
    margin-top: 0.25rem;
    font-size: 0.875rem;
    color: $red;
}
