@use "@/assets/styles/variable" as *;

.footer {
    background-color: $dark-gray;
    padding: 40px 0
}

.footerInner {
    text-align: center;
    img {
        margin: auto;
    }
}

.footerCopy {
    font-size: 0.8rem;
    margin: 20px;
}

@media only screen and (min-width: 767px) {
    .footer {
        padding: 60px 0
    }
    .footerCopy {
        font-size: 1rem
    }
}
