AWSTemplateFormatVersion: "2010-09-09"
Description: Simple Laravel ECS Environment

Parameters:
  ProjectName:
    Type: String
    Default: sample
  Environment:
    Type: String
    Default: dev
  TemplateURL:
    Type: String
    Default: https://YOUR-BUCKET-NAME.s3.ap-northeast-1.amazonaws.com/

Resources:
  VPC:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: !Sub "${TemplateURL}stacks/00-vpc.yml"
      Parameters:
        ProjectName: !Ref ProjectName
        Environment: !Ref Environment

  SG:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: !Sub "${TemplateURL}stacks/10-sg.yml"
      Parameters:
        ProjectName: !Ref ProjectName
        Environment: !Ref Environment
        VPCId: !GetAtt VPC.Outputs.VPC

  DB:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: !Sub "${TemplateURL}stacks/20-db.yml"
      Parameters:
        ProjectName: !Ref ProjectName
        Environment: !Ref Environment
        VPCId: !GetAtt VPC.Outputs.VPC
        SGMysql: !GetAtt SG.Outputs.SGMysql
        SubnetId1: !GetAtt VPC.Outputs.PublicSubnet1
        SubnetId2: !GetAtt VPC.Outputs.PublicSubnet2

  ECS:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: !Sub "${TemplateURL}stacks/30-ecs.yml"
      Parameters:
        ProjectName: !Ref ProjectName
        Environment: !Ref Environment
        VPCId: !GetAtt VPC.Outputs.VPC
        SGWeb: !GetAtt SG.Outputs.SGWeb
        SubnetId: !GetAtt VPC.Outputs.PublicSubnet1
        DBHost: !GetAtt DB.Outputs.DBEndpoint
