.overlay {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 50;
}

.modal {
    background-color: #ffffff;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 100%;
    max-width: 50rem;
    margin: 0 1rem;
    &.small {
        max-width: 30rem;
    }
}

.closeButton {
    position: absolute;
    top: 0.75rem; // 12px
    right: 0.75rem; // 12px
    color: #6b7280; // Tailwind's gray-500
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.25rem;

    &:hover {
        color: #374151; // Tailwind's gray-700
    }
}

.content {
    padding: 1.5rem; // 24px
}
