/* Reset CSS */
a, abbr, address, article, aside, audio, b, blockquote, body, button, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, input, ins, kbd, label, legend, li, main, mark, menu, nav, object, ol, p, pre, q, samp, section, select, small, span, strong, sub, summary, sup, table, tbody, td, textarea, tfoot, th, thead, time, tr, ul, var, video {
    -webkit-font-smoothing: antialiased;
    -webkit-backface-visibility: hidden;
    box-sizing: border-box;
    color: #333;
    font-family: sans-serif;
    line-height: 1;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    transition: .3s cubic-bezier(.4,.4,0,1);
    word-spacing: 1px;
}

.bg-base {
    background-color: $baseColor;
}
.text-base {
    color: $baseColor;
}
.bg-main {
    background-color: $mainColor;
}
.text-main {
    color: $mainColor;
}
.bg-accent {
    background-color: $accentColor;
}
.text-accent {
    color: $accentColor;
}

/* 画像にマウスホバーするとズームする */
img.zoom:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

/* ボタンにホバーすると半透明にする */
button:not(:disabled):hover, a:hover {
    opacity: 0.8;
}
