@import '~admin-lte/plugins/fontawesome-free/css/all.min.css';
@import '~admin-lte/dist/css/adminlte.min.css';

body {
    background-color: #9e9e9e;
}

.content-wrapper {
    margin: auto;
    padding: 16px 32px;
}

.no-sidemenu {
    .content-wrapper {
        max-width: 1200px;
        margin: auto !important;
    }
    .main-footer {
        margin: 0 !important;
    }
}

// Date Picker 関連
.datepicker-days th.dow:first-child,
.datepicker-days td:first-child {
    color: #f00;
}

.datepicker-days th.dow:last-child,
.datepicker-days td:last-child {
    color: #00f;
}

.datepicker-days thead > tr:nth-child(3) {
    border: solid 1px #eee;
}

.datepicker td, th {
    text-align: center;
    padding: 2px 8px;
    font-size: 14px;
}

// sortblelink関連
.table {
    .sortable_th {
        position: relative;
        cursor: pointer;
        padding-left: 20px;
        padding-right: 20px;
    }
    .sortable_arrow_asc {
        position: absolute;
        right: 8px;
        font-weight: bold;
    }
    .sortable_arrow_desc {
        position: absolute;
        right: 1px;
        font-weight: bold;
    }
    .enabled_arrow {
        color: rgba(0, 0, 0, 1);
    }
    .disabled_arrow {
        color: rgba(0, 0, 0, 0.5);
    }
}
